@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("../fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  position: relative;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.header__logo {
  display: block;
  font-family: "Manrope";
  font-weight: 700;
  color: #111321;
  line-height: 1.357;
  width: 63px;
  height: 33px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 84px;
    height: 44px;
    font-size: 32px;
    margin-right: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 111px;
    height: 57px;
    font-size: 42px;
    margin-right: 102px;
  }
}

@media screen and (min-width: 768px) {
  .menu__container {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  gap: 44px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav {
    gap: 69px;
    margin-right: 147px;
  }
}

.header__link {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #111321;
}
@media screen and (max-width: 1280px) {
  .header__link {
    font-size: 16px;
  }
}

.header__link--active {
  position: relative;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .header__link--active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #4440f6;
  }
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    margin-right: 147px;
  }
}

.search-input {
  height: 31px;
  border: 1px solid #111321;
  border-radius: 20px;
  color: #111321;
  padding: 5px 0 5px 48px;
  width: 173px;
}
@media screen and (min-width: 768px) {
  .search-input {
    width: 213px;
  }
}
@media screen and (min-width: 1280px) {
  .search-input {
    width: 288px;
  }
}

.search-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 12px;
}

.icon-search {
  fill: #111321;
}

.button-menu {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu__icons.button-menu__hamburger,
.button-menu__icons.button-menu__cros {
  fill: #111321;
}

.weather__card {
  list-style: none;
  width: 100%;
  background-color: #4440f6;
  padding: 32px 0 84px;
  color: #ffffff;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .weather__card {
    padding: 40px 32px 130px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .weather__card {
    width: calc((100% - 64px) / 3);
    padding: 40px 53px 130px;
  }
}

.weather__temperature {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 55px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .weather__temperature {
    font-size: 64px;
    line-height: 1.17;
    padding-right: 8px;
  }
}

.weather__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 5px 0 14px;
}
@media screen and (min-width: 768px) {
  .weather__wrapper {
    margin-bottom: 90px;
    padding: 0;
  }
}

.weather__box {
  border-left: 1px solid #ffffff;
  padding-left: 11px;
}
@media screen and (min-width: 768px) {
  .weather__box {
    padding-left: 8px;
  }
}

.weather__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .weather__description {
    padding-left: 7px;
    margin-bottom: 0;
    font-size: 36px;
  }
}

.weather__city {
  display: flex;
  align-items: center;
  min-width: 83px;
  padding: 9px 8px;
  border: none;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .weather__city {
    font-size: 20px;
    line-height: 1.15;
    padding: 10px 17px 9px 9px;
  }
}

.weather__location-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .weather__location-icon {
    margin-right: 8px;
    width: 27px;
    height: 27px;
  }
}

.weather__location-icon path {
  transform: scale(0.6);
}
@media screen and (min-width: 768px) {
  .weather__location-icon path {
    transform: scale(0.85);
  }
}

.weather-picture {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 121px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .weather-picture {
    width: 165px;
    height: 156px;
    margin-bottom: 90px;
  }
}

.weather__day {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .weather__day {
    font-size: 36px;
    line-height: 1.17;
  }
}

.weather__date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .weather__date {
    font-size: 36px;
    line-height: 1.17;
  }
}

.dark {
  background-color: #686868;
}

.dark .state-light {
  color: #F4F4F4;
  opacity: 0.4;
}

.dark .state-dark {
  color: #4B48DB;
}

.dark .sun-sign {
  --color4: #F4F4F4;
  opacity: 0.4;
}

.dark .moon-sign {
  --color3: #4B48DB;
}

.theme-switch {
  display: flex;
  gap: 11px;
}
@media screen and (min-width: 768px) {
  .theme-switch {
    gap: 12px;
  }
}

.sun-sign {
  fill: #4B48DB;
}

.sun {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .sun {
    display: none;
  }
}

.moon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #5F6775;
}
@media screen and (min-width: 768px) {
  .moon {
    display: none;
  }
}

.state-light {
  display: none;
}
@media screen and (min-width: 768px) {
  .state-light {
    display: block;
    color: #4B48DB;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}

.state-dark {
  display: none;
}
@media screen and (min-width: 768px) {
  .state-dark {
    display: block;
    color: #5F6775;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }
}

.form-switch {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

.form-switch i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #FFFFFF;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #4B48DB;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #4B48DB;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
  background-color: #FFFFFF;
}

.news-page {
  display: none;
  margin: 0 auto;
  padding: 40px 0 59px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news-page {
    max-width: 560px;
    padding: 88px 0 101px;
  }
}
@media screen and (min-width: 1280px) {
  .news-page {
    padding: 121px 0 226px;
    min-width: 601px;
  }
}

.news-page__title {
  display: block;
  max-width: 276px;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: -0.01em;
  color: #111321;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto 40px;
}
@media screen and (min-width: 768px) {
  .news-page__title {
    max-width: 548px;
    font-size: 40px;
    line-height: 1.38;
  }
}

.news-page__title.dark {
  color: #f4f4f4;
}

.news-page__image {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .news-page__image {
    max-width: 248px;
    margin: 0 auto;
  }
}

.page-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  gap: 8px;
  font-family: "Manrope";
  font-style: 14px;
}

.page-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #4440f6;
  border-radius: 2px;
  width: 82px;
  height: 31px;
}

.page-container button:disabled {
  color: #aaadc7;
}

.next-page img {
  rotate: 180deg;
}

#pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 31px;
  list-style: none;
  cursor: pointer;
  border: 1px solid #4440f6;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 4px;
}

#pagination li.active {
  background-color: #4440f6;
}

#pagination li.active a {
  color: #fff;
}

#pagination li a {
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  color: #111321;
  font-size: 20px;
  pointer-events: none;
}

#pagination li:hover {
  background-color: #4440f6;
}

#pagination li:hover a {
  color: #fff;
}

.section-categories {
  height: 87px;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 28px 0;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.section-categories__list {
  display: flex;
  height: 100%;
}

.news-section__item {
  height: 100%;
  margin-right: 15px;
}

.news-section__item button {
  padding: 0 24px 0 24px;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #4440f6;
  border: 1px solid #4440f6;
  border-radius: 15.5px;
  white-space: nowrap;
}

.news-section__item button:active {
  background-color: #4440f6;
  color: #ffffff;
}

.news-section__select {
  padding: 0 24px 0 24px;
  height: 100%;
  color: #4440f6;
  border: 1px solid #4440f6;
  border-radius: 15.5px;
}

.news-section__select:focus {
  background-color: #4440f6;
  color: #ffffff;
}

.news-section__selects {
  background-color: #ffffff;
  color: #4440f6;
}

.container2 {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 320px) {
  .container2 {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container2 {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container2 {
    max-width: 1280px;
  }
}

.favorite-section {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .favorite-section {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite-section {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .favorite-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite-section__list {
    gap: 40px 32px;
  }
}

.section-read {
  padding-top: 40px;
  padding-bottom: 63px;
}
@media screen and (min-width: 768px) {
  .section-read {
    padding-top: 48px;
    padding-bottom: 103px;
  }
}
@media screen and (min-width: 1280px) {
  .section-read {
    padding-top: 60px;
    padding-bottom: 210px;
  }
}

.calendar__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 31px;
  width: 168px;
  border: 1px solid rgb(17, 19, 33);
  border-color: #111321;
  border-radius: 25px;
  padding: 5px 12px;
  color: #4440f6;
  fill: rgb(68, 64, 246);
}

.calendar__wrapper:hover,
.calendar__wrapper:focus,
.calendar__wrapper:active {
  background-color: rgb(68, 64, 246);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  cursor: pointer;
  outline-color: transparent;
  outline-style: solid;
  opacity: 1;
  border: none;
}

.calendar__wrapper:hover input[type=text],
.calendar__wrapper:focus input[type=text],
.calendar__wrapper:active input[type=text] {
  background-color: rgb(68, 64, 246);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  cursor: pointer;
  outline-color: transparent;
  outline-style: solid;
  opacity: 1;
  border: none;
}

.calendar__icon {
  fill: currentColor;
}

.calendar__input {
  width: 82px;
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 400;
  color: rgb(17, 19, 33);
  opacity: 40%;
  text-align: center;
  border: none;
}

.calendar__icon-arrow-down {
  position: relative;
  fill: rgb(17, 19, 33);
  opacity: 40%;
}

.calendar__icon-arrow-down:hover,
.calendar__icon-arrow-down:focus,
.calendar__icon-arrow-down:active {
  fill: currentColor;
  opacity: 1;
}

.calendar__wrapper:hover .calendar__icon-arrow-down,
.calendar__wrapper:focus .calendar__icon-arrow-down,
.calendar__wrapper:active .calendar__icon-arrow-down {
  opacity: 0;
  display: none;
}

.calendar__icon-arrow-up {
  fill: currentColor;
  display: none;
}

.calendar__icon-arrow-up:hover,
.calendar__icon-arrow-up:focus,
.calendar__icon-arrow-up:active {
  fill: rgb(255, 255, 255);
  opacity: 1;
}

.calendar__wrapper:hover .calendar__icon-arrow-up,
.calendar__wrapper:focus .calendar__icon-arrow-up,
.calendar__wrapper:active .calendar__icon-arrow-up {
  display: block;
  opacity: 1;
}

.flatpickr-calendar {
  display: none;
  position: absolute;
  max-width: 250px;
  max-height: 250px;
  padding: 26px 16px 20px;
  font-family: "Manrope";
  font-weight: 500;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
}

.flatpickr-calendar.open {
  display: block;
}

.flatpickr-calendar svg {
  width: 14px;
  height: 22px;
  fill: #4440f6;
}

.flatpickr-months {
  display: flex;
  margin-bottom: 13px;
  line-height: 1.37;
  letter-spacing: -0.41px;
}

.flatpickr-current-month {
  display: flex;
}

.flatpickr-monthDropdown-months,
.numInput {
  background-color: rgb(248, 248, 248);
  border: none;
  width: 110px;
}

.numInput {
  width: 80px;
}

.flatpickr-weekdays {
  font-size: 10px;
  margin-bottom: 14px;
  font-weight: 400;
  color: rgba(60, 60, 67, 0.3);
}

.flatpickr-weekday {
  width: 15px;
}

.flatpickr-weekdaycontainer {
  display: flex;
  gap: 18px;
}

.flatpickr-days {
  max-width: 250px;
}

.dayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.flatpickr-day {
  padding: 1px;
  flex-basis: 14.2857142857%;
  margin-bottom: 12px;
  height: 25px;
  line-height: 1.78;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flatpickr-day:hover,
.flatpickr-day:focus {
  cursor: pointer;
  border: 1px solid #4440f6;
  background-color: #4440f6;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.flatpickr-day:nth-child(7n+8) {
  color: #5f6775;
}

.flatpickr-day:nth-child(7n+8):hover,
.flatpickr-day:nth-child(7n+8):focus {
  color: rgb(255, 255, 255);
}

.flatpickr-day:nth-last-child(n+29) {
  display: none;
}/*# sourceMappingURL=index.css.map */