<footer>
    <div class="container2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a href="./index.html" class="footer__about__logo">News</a>
                    <p class="footer__about__text">Our team is pleased to present you our application for viewing and
                        searching news. Convenient, simple, for you...</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="footer__copyright__container">
                    <p class="copyright-text">© 2023 All Rights Reserved by blablabla team</p>
                </div>
                <div class="footer__share__container">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.facebook.com/sharer.php?u={url}" title="Facebook" target="_blank">
                                <svg id="icon-facebook" viewBox="0 0 112.196 112.196" width="32" height="32">
                                    <circle cx="56.098" cy="56.098" r="56.098" fill="#3b5998"></circle>
                                    <path fill="#fff"
                                        d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337.0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/tweet?url={url}&text={title}" title="Twitter"
                                target="_blank">
                                <svg id="icon-twitter" viewBox="0 0 112.197 112.197" width="32" height="32">
                                    <circle cx="56.099" cy="56.098" r="56.098" fill="#1da1f2"></circle>
                                    <path fill="#fff"
                                        d="M90.461 40.316a26.753 26.753.0 0 1-7.702 2.109 13.445 13.445.0 0 0 5.897-7.417 26.843 26.843.0 0 1-8.515 3.253 13.396 13.396.0 0 0-9.79-4.233c-7.404.0-13.409 6.005-13.409 13.409.0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351.0 0 0-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314.0 0 1-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362.0 0 1-3.532.471c-.866.0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904.0 0 1-16.655 5.74c-1.08.0-2.15-.063-3.197-.188a37.929 37.929.0 0 0 20.553 6.025c24.664.0 38.152-20.432 38.152-38.153.0-.581-.013-1.16-.039-1.734a27.192 27.192.0 0 0 6.692-6.94z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/share/url?url={url}&text={title}" title="Telegram" target="_blank">
                                <svg id="icon-telegram" viewBox="0 0 512 512" width="32" height="32">
                                    <circle cx="256" cy="256" r="256" fill="#08c"></circle>
                                    <path fill="#fff"
                                        d="M221.138 293.3l115.691 87.347 58.399-249.287L96.771 248.759l90.817 30.081 165.743-111.176z">
                                    </path>
                                    <path fill="#d2d2d7"
                                        d="M187.588 278.84l24.873 89.504 8.677-75.044 132.193-125.636z">
                                    </path>
                                    <path fill="#b9b9be" d="M258.738 321.688l-46.277 46.656 8.677-75.044z"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/submit?url={url}&title={title}" title="Reddit"
                                target="_blank">
                                <svg id="icon-reddit" viewBox="0 0 20 20" width="32" height="32">
                                    <circle cx="10" cy="10" r="10" fill="#ff4500"></circle>
                                    <path fill="#fff"
                                        d="M16.67 10a1.46 1.46.0 0 0-2.47-1 7.12 7.12.0 0 0-3.85-1.23L11 4.65l2.14.45a1 1 0 1 0 .13-.61L10.82 4a.31.31.0 0 0-.37.24l-.74 3.47a7.14 7.14.0 0 0-3.9 1.23 1.46 1.46.0 1 0-1.61 2.39 2.87 2.87.0 0 0 0 .44c0 2.24 2.61 4.06 5.83 4.06s5.83-1.82 5.83-4.06a2.87 2.87.0 0 0 0-.44 1.46 1.46.0 0 0 .81-1.33zm-10 1a1 1 0 1 1 1 1 1 1 0 0 1-1-1zm5.81 2.75a3.84 3.84.0 0 1-2.47.77 3.84 3.84.0 0 1-2.47-.77.27.27.0 0 1 .38-.38A3.27 3.27.0 0 0 10 14a3.28 3.28.0 0 0 2.09-.61.27.27.0 1 1 .39.4zm-.18-1.71a1 1 0 1 1 1-1 1 1 0 0 1-1.01 1.04z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={url}&title={title}"
                                title="Linkedin" target="_blank">
                                <svg id="icon-linkedin" viewBox="0 0 112.196 112.196" width="32" height="32">
                                    <circle cx="56.098" cy="56.097" r="56.098" fill="#0077b5"></circle>
                                    <path fill="#fff"
                                        d="M89.616 60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118-3.705.0-5.906 2.491-6.878 4.903-.353.862-.444 2.059-.444 3.268v22.524h-13.41s.18-36.546.0-40.329h13.411v5.715c-.027.045-.065.089-.089.132h.089v-.132c1.782-2.742 4.96-6.662 12.085-6.662 8.822.0 15.436 5.764 15.436 18.149zm-54.96-36.642c-4.587.0-7.588 3.011-7.588 6.967.0 3.872 2.914 6.97 7.412 6.97h.087c4.677.0 7.585-3.098 7.585-6.97-.089-3.956-2.908-6.967-7.496-6.967zm-6.791 59.77H41.27v-40.33H27.865v40.33z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>