<footer>
    <div class="container2">
        <div class="footer__primary__container">
            <div class="footer__about__container">
                <a href="./index.html" class="footer__about__logo">News</a>
                <p class="footer__about__text">Our team is pleased to present you our application for viewing and
                    searching news. Convenient, simple, for you...</p>
            </div>
        </div>
        <hr>
        <div class="footer__additional__container">
            <div class="footer__copyright__container">
                <p class="copyright-text">© 2023 All Rights Reserved by ProfiLab Team</p>
            </div>
            <div class="footer__founds__container">
                <ul class="founds__list">
                    <li class="founds__list__item">
                        <a href="https://u24.gov.ua/" title="UNITED24" class="founds__list__link united">
                            <svg class="icon icon-u24" height="50" width="160">
                                <use href="./img/icons.svg#icon-u24"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="founds__list__item">
                        <a href="https://savelife.in.ua/en/donate-en/" title="Come Back Alive"
                            class="founds__list__link cbalive">
                            <svg class="icon icon-chmyt" height="50" width="100">
                                <use href="./img/icons.svg#icon-chmyt"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="founds__list__item">
                        <a href="https://prytulafoundation.org/en/" title="Prytula Foundation"
                            class="founds__list__link cbalive pfoundation">
                            <svg class="icon icon-prytula" height="50" width="50">
                                <use href="./img/icons.svg#icon-prytula"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>