.favorite-section {
  padding-top: 40px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}

.favorite-section__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    gap: 40px 32px;
  }
}

.favorite-section__list li {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}
