.container2 {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
