footer {
    background-color: rgba(75, 72, 219, 1);
    bottom: 0;
    font-family: 'Manrope';
    min-height: 150px;
    
}

.footer__containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (min-width:768px) {
        justify-content: space-between;
        flex-direction: unset;
    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        justify-content: unset;
        gap: 0;
    }
}

.footer__share {
    margin-top: 10px;

    ul {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;

        @media screen and (min-width:768px) {
            margin-top: 0;
        }

        @media screen and (min-width:1200px) {
            margin-right: 93px;
        }
    }
    @media screen and (min-width: 768px) {
        width: 100%;
        margin-top: 0;
    }

    @media screen and (min-width:1200px) {
        margin: 0;
    }
}

.footer__about {
    @media screen and (min-width: 768px) {
        max-width: 290px;
        text-align: start;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

    &__logo {
        font-family: 'Manrope';
        font-weight: 700;
        color: #fff;
        line-height: 1.357;
        font-size: 24px;
        

        @media screen and (min-width: $tablet) {
            font-size: 32px;
            text-align: start;
            
        }

        @media screen and (min-width: $desktop) {
            padding: 0;
            font-size: 42px;
        }
    }

    &__text {
        color: #fff;
    }
}
.footer__creditials {
    .copyright {
        font-size: 10px;
        text-align: center;
        color: #fff;
        margin-top: 10px;
        padding: 0.6rem 0;

        @media screen and (min-width: 768px) {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}


.share {
    margin: 30px 0;
}

.share p {
    margin: 0 0 2px;
    font-weight: 700;
    text-align: center;
}

.share ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: -15px;
    padding: 0;
}

.share li {
    flex: 0 0 auto;
    margin: 15px;
}

.share a,
.share button {
    display: block;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    background: none;
    cursor: pointer;
}

.share svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}