// .header {
// border-bottom: 1px solid rgba(0, 0, 0, 0.2);
// padding-left: 16px;
// padding-right: 16px;
// }

// .header__nav {
// display: flex;
// align-items: center;
// }

// .header__logo {
// display: block;
// font-family: 'Manrope';
// font-weight: 700;
// color: $primary-text;
// line-height: 1.357;

// @media screen and (min-width: $mobile) {
// width: 63px;
// height: 33px;
// font-size: 24px;
// }

// @media screen and (min-width: $tablet) {
// width: 84px;
// height: 44px;
// font-size: 32px;
// margin-right: 48px;
// }

// @media screen and (min-width: $desktop) {
// width: 111px;
// height: 57px;
// font-size: 42px;
// margin-right: 102px;
// }
// }

// .menu__container {
// @media screen and (min-width: $tablet) {
// display: flex;
// }
// }

// .site-nav {
// display: flex;
// @media screen and (min-width: $tablet) {
// gap: 44px;
// margin-right: 32px;
// }
// @media screen and (min-width: $desktop) {
// gap: 69px;
// margin-right: 147px;
// }
// }

// .header__link {
// font-family: 'Manrope';
// font-weight: 700;
// font-size: 18px;
// line-height: 1.38;
// color: $primary-text;

// @media screen and (max-width: $desktop) {
// font-size: 16px;
// }
// }

// .header__link--active {
// position: relative;
// padding-bottom: 5px;
// }

// .header__link--active::after {
// @media screen and (min-width: 768px) {
// content: "";
// display: block;
// position: absolute;
// left: 0;
// bottom: 0;
// width: 100%;
// height: 1px;
// background-color: $accent;
// }
// }

// .search-form {
// position: relative;
// display: flex;
// @media screen and (min-width: $tablet) {
// margin-right: 24px;
// }

// @media screen and (min-width: $desktop) {
// margin-right: 147px;
// }

// }

// .search-input {
// height: 31px;
// border: 1px solid $primary-text;
// border-radius: 20px;
// color: $primary-text;
// padding: 5px 0 5px 48px;

// @media screen and (min-width: $mobile) {
// width: 173px;
// }

// @media screen and (min-width: $tablet) {
// width: 213px;
// }

// @media screen and (min-width: $desktop) {
// width: 288px;
// }
// }

// .search-button {
// cursor: pointer;
// background-color: transparent;
// border: none;
// display: flex;
// align-items: center;
// justify-content: center;
// position: absolute;
// top: 50%;
// bottom: 50%;
// left: 12px;
// }

// .icon-search {
// fill: $primary-text;
// }


.header {
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
padding: 16px 0;

}

.header__nav {
display: flex;
align-items: center;
justify-content: center;
padding-left: 16px;
padding-right: 16px;
}

.header__logo {
display: block;
font-family: 'Manrope';
font-weight: 700;
color: $primary-text;
line-height: 1.357;
width: 63px;
height: 33px;
font-size: 24px;

@media screen and (min-width: $tablet) {
width: 84px;
height: 44px;
font-size: 32px;
margin-right: 48px;
}

@media screen and (min-width: $desktop) {
width: 111px;
height: 57px;
font-size: 42px;
margin-right: 102px;
}
}

.menu__container {
@media screen and (min-width: $tablet) {
display: flex;
align-items: center;
}
}

.site-nav {
display: flex;
gap: 44px;

@media screen and (min-width: $tablet) {
margin-right: 32px;
}

@media screen and (min-width: $desktop) {
gap: 69px;
margin-right: 147px;
}
}

.header__link {
font-family: 'Manrope';
font-weight: 700;
font-size: 18px;
line-height: 1.38;
color: $primary-text;

@media screen and (max-width: $desktop) {
font-size: 16px;
}
}

.header__link--active {
position: relative;
padding-bottom: 5px;
}

.header__link--active::after {
@media screen and (min-width: 768px) {
content: "";
display: block;
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 1px;
background-color: $accent;
}
}

.search-form {
position: relative;
display: flex;
align-items: center;

@media screen and (min-width: $tablet) {
margin-right: 24px;
}

@media screen and (min-width: $desktop) {
margin-right: 147px;
}
}

.search-input {
height: 31px;
border: 1px solid $primary-text;
border-radius: 20px;
color: $primary-text;
padding: 5px 0 5px 48px;
width: 173px;

@media screen and (min-width: $tablet) {
width: 213px;
}

@media screen and (min-width: $desktop) {
width: 288px;
}
}

.search-button {
cursor: pointer;
background-color: transparent;
border: none;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 50%;
bottom: 50%;
left: 12px;
}

.icon-search {
fill: $primary-text;
}