.button-menu {
background-color: transparent;
border: none;
position: absolute;
top: 6px;
bottom: 6px;
right: 0;
@media screen and (min-width:$tablet) {
display: none;
}
}

.button-menu__icons.button-menu__hamburger,
.button-menu__icons.button-menu__cros {
fill: $primary-text;
}