.section {
  margin: 0 auto;
}
.section-news {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: $desktop) {
    gap: 40px 32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.news-card {
  position: relative;
  width: 288px;
  height: 630px;
  list-style: none;

  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px * 1) / 2);
    height: 675px;
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 32px * 2) / 3);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.news-card__darkend[data-read='false'] {
  display: none;
}

.news-card__darkend[data-read='true'] {
  position: absolute;
  background-color: #f4f4f4;
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.news-card__image {
  position: relative;
  margin-bottom: 20px;
  width: 288px;
  height: 395px;

  @media screen and (min-width: $tablet) {
    width: 353px;
    height: 395px;
  }

  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 395px;
  }
}
.news-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.news-card__category {
  position: absolute;
  left: 0;
  top: 40px;
  padding: 4px 8px;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  background-color: rgb(68, 64, 246, 0.7);
}

.news-card__status[data-read='false'] {
  display: none;
}

.news-card__status[data-read='true'] {
  position: absolute;
  display: flex;
  top: 14px;
  right: 14px;
  vertical-align: middle;
  font-family: 'Manrope';

  font-weight: 700;
  font-size: 14px;
  line-height: 1.38;

  color: #00dd73;
  fill: currentColor;

  @media screen and (min-width: $tablet) {
    top: 20px;
    right: 21px;
  }
}

.news-card__icon-tick {
  margin-left: 4px;
}

.news-card__favorite {
  position: absolute;
  bottom: 12px;
  right: 8px;
  display: flex;
  padding: 6px 12px;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  background: #ffffff;
  color: #111321;
  border-radius: 20px;
  border: none;
  z-index: 2;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    bottom: 12px;
    right: 12px;
  }

  &:hover,
  &:focus {
    border: 1px solid rgb(255, 255, 255, 0.5);
  }
}

.news-card__icon[data-favorite='false'] {
  fill: #4440f6;
  margin-left: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.news-card__icon[data-favorite='true'] {
  display: none;
}

.news-card__icon-full[data-favorite='false'] {
  display: none;
}

.news-card__icon-full[data-favorite='true'] {
  display: block;
  fill: #4440f6;
  margin-left: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
.news-card__title {
  margin-bottom: 20px;
  padding: 0 5px;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
}

.news-card__text {
  padding: 0 5px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  height: 57px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    height: 66px;
  }
}

.news-card__box {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
}

.news-card__date {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  color: #a8a8a8;
  margin-right: 145px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-right: 188px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 205px;
  }
}

.news-card__read {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  color: #4440f7;
  white-space: nowrap;

  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    font-weight: 700;
  }
}
