.section-read {
  padding-top: 40px;
  padding-bottom: 63px;

  @media screen and (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 103px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 210px;
  }
}
