
//Встановлює темну тему
body.dark{
    color: $primary-bg;
    background-color: $dark-bg;
}

.dark .state-light {
    color: #F4F4F4;
    opacity: 0.4;
}

.dark .state-dark {
    color:#4B48DB;
}

.dark .sun-sign{
    --color4: #F4F4F4;
    opacity: 0.4;
}

.dark .moon-sign {
    --color3: #4B48DB;
}



// Стилі перемикача теми світла/темна

.theme-switch {
    display: flex;
    gap: 11px;
@media screen and (min-width: $tablet) {
    gap: 12px;
    position: absolute;
    right: 0;
}
}

.sun-sign{
   fill: #4B48DB;
}

.sun{
    display: flex;
    align-items: center;
    justify-content: center;
@media screen and (min-width: $tablet) {
    display: none;
}
}

.moon{
    display: flex;
    align-items: center;
    justify-content: center;
    fill:#5F6775;
@media screen and (min-width: $tablet) {
    display: none;
}
}

.state-light {
    display:none;
@media screen and (min-width: $tablet) {
    display: block;
    color: #4B48DB;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}
}

.state-dark {
    display: none;

@media screen and (min-width: $tablet) {
    display: block;
    color:#5F6775;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
}
}




.form-switch {
    display: inline-block;
    
@media screen and (min-width: $tablet) {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
   
}
}

.form-switch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #FFFFFF;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color:#4B48DB;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    display: none;
}

.form-switch input:checked+i {
    background-color:#4B48DB;
}

.form-switch input:checked+i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
    transform: translate3d(22px, 2px, 0);
    background-color: #FFFFFF;
}