.weather__card {
  list-style: none;
  width: 100%;
  background-color: $accent;
  padding: 32px 36px 84px;
  color: $white;
  border-radius: 4px;
  @media screen and (min-width: $tablet) {
    padding: 40px 32px 130px;

    width: calc((100% - 30px * 1) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 32px * 2) / 3);
    padding: 40px 53px 130px;
  }
}

.weather__temperature {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 55px;
  line-height: 1.16;
  @media screen and (min-width: $tablet) {
    font-size: 64px;
    line-height: 1.17;
  }
}
.weather__wrapper {
  display: flex;
  margin-bottom: 40px;
  padding: 5px 0 14px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 90px;
    padding: 0;
  }
}
.weather__box {
  border-left: 1px solid $white;
  padding-left: 11px;
  @media screen and (min-width: $tablet) {
    padding-left: 8px;
  }
}
.weather__description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 5px;
  @media screen and (min-width: $tablet) {
    padding-left: 7px;
    margin-bottom: 0;
    font-size: 36px;
  }
}

.weather__city {
  display: flex;
  align-items: center;
  min-width: 83px;
  padding: 9px 8px;
  border: none;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $white;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.15;
    padding: 10px 17px 9px 9px;
  }
}

.weather__location-icon {
  width: 18px;
  height: 18px;
  padding-right: 4px;
  fill: $white;

  @media screen and (min-width: $tablet) {
    width: 27px;
    height: 27px;
  }
}

.weather-picture {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 121px;
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    width: 165px;
    height: 156px;
    margin-bottom: 90px;
  }
}

.weather__day {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.weather__date {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: 1.17;
  }
}
